<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SSE4354MerchantSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>Merchant</servlet-name>
	<servlet-class>com.servlet.MerchantServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>Merchant</servlet-name>
	<url-pattern>/Merchant</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>CheckOTP</servlet-name>
	<servlet-class>com.servlet.CheckOTPServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>CheckOTP</servlet-name>
	<url-pattern>/CheckOTP</url-pattern>
  </servlet-mapping>
</web-app>